<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.mylaurier.badr3180_assignments">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Badr3180_Assignment1"
        tools:targetApi="31">
        <activity
            android:name="ca.mylaurier.badr3180_assignments.ListItemsActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name="ca.mylaurier.badr3180_assignments.LoginActivity"
            android:exported="true" >

        </activity>

        <activity
            android:name="ca.mylaurier.badr3180_assignments.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>